body {
  font-family: "Quicksand", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.main_hero1 {
  max-width: 1200px;
  margin: 0 auto;
}

.main_hero:first-child {
  flex-basis: 50%;
}
.main_hero:last-child {
  flex-basis: 50%;
}
.hero_container img {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_container {
  background-color: #c5ead9;
}
.main_hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_hero h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero_first_section {
  margin-bottom: 3rem;
}
.hero_first_section div {
  display: flex;
  align-items: center;
}
.main_hero p {
  margin-bottom: 2rem;
  color: #838383;
}
input {
  padding: 10px 2rem;
  outline: none;
  border: none;
  color: #838383;
}
button {
  padding: 10px 2rem;
  background-color: rgb(69, 145, 69);
  outline: none;
  border: none;
}
.Categories {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fruit {
  display: flex;
  align-items: center;
  gap: 7px;
}
a {
  color: #3bb77e;
}
.fruits_section {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.fruits_section div {
  text-align: center;
  padding: 11px 15px;
  background-color: #c52222;
}
.fruits_section > div > p {
  color: black;
}
@media screen and (max-width: 768px) {
  .main_hero {
    display: block;
  }
  .hero_first_section {
    flex-basis: 100%;
    padding: 1.5rem;
  }
  .main_hero:last-child {
    flex-basis: 100%;
  }
  .Categories {
    padding: 0 1.5rem;
    display: block;
  }
  .Categories > div {
    margin-bottom: 10px;
  }
  .fruits_section {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .fruits_section > div {
    background-color: rgb(242, 135, 135);
    padding: 35px 15px;
  }
  .second_fruit_section {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .offer_section {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
@media screen {
}
.second_fruit_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}
.second_fruit_section div {
  margin-bottom: 14px;
  padding: 0px 0px 0px 10px;
  background-color: white;
}
.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h3 {
  margin-bottom: 3px;
}
h4 {
  margin-bottom: 6px;
}
.second_fruit_section > div > small {
  padding-bottom: 8px;
}
span {
  color: #3bb77e;
  padding-right: 4px;
}
.offer_section {
  display: flex;
  justify-content: space-between;
}
.offer_section_one {
  padding: 1.5rem;
  background-color: rgb(212, 212, 148);
  display: flex;
  justify-content: center;
  align-items: center;
}
.p {
  color: white;
  padding: 5px 5px;
  background-color: rgb(226, 186, 100);
  margin-bottom: 1rem;
}
.pp {
  color: white;
  margin-bottom: 1rem;
  background-color: #3bb77e;
  padding: 7px 1rem;
  border-radius: 2px;
}
.offer_section_one h3 {
  margin-bottom: 1rem;
}
.offer_section_two h3 {
  margin-bottom: 1rem;
}
.offer_section_one p {
  margin-top: 1rem;
  font-size: 20px;
}
.offer_section_two p {
  margin-top: 1rem;
  font-size: 20px;
}
.offer_section_two h3 {
  margin-bottom: 7px;
}
/* .offer_section_one:first-child {
  width: 50%;
}
.offer_section_one:last-child {
  width: 50%;
}
.offer_section_two:first-child {
  width: 50%;
}
.offer_section_two:last-child {
  width: 50%;
} */
.button {
  border-radius: 2px;
  color: white;
  margin-top: 3.5rem;
  padding: 10px 1rem;
  background-color: rgb(69, 145, 69);
  outline: none;
  border: none;
}
.button1 {
  border-radius: 2px;
  color: white;
  margin-top: 3.5rem;
  padding: 10px 1.5rem;
  background-color: rgb(69, 145, 69);
  outline: none;
  border: none;
}

.offer_section_two {
  padding: 2rem;
  background-color: #a5e4c7;
  display: flex;
  justify-content: center;
  align-items: center;
}
